*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html{
  font-size: 62.5%;
}

table{
  margin: 5rem auto;
  border-radius: 2rem;
  border: 1rem hidden #443c68;
  border-collapse: collapse;
  overflow: hidden;
  max-width: 80rem;
}

li,p,a,td{
  font-size: 1.6rem;
  line-height: 1.6;
}
thead{
  font-size: 1.8rem;

}

th, td{
  border: 1px solid ;
  min-width: 30rem;
  padding: 1.5rem;
  line-height: 1.7;

}